.without_padding{
    width: 300px;
    border : 5px solid rgb(76, 27, 255);
}

.with_padding{
    width: 300px;
    border : 5px solid rgb(76, 27, 255);
    padding : 20px;

    /* shorthands */
    /* padding: 10px 15px 10px 15px; */
    /* padding: top right bottom left;  */
}